ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #081c24;
  background: #01d277;
}

select {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

input {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.select_holder {
  width: 45%;
  min-width: 500px;
  padding: 20px;
}

.movie_holder {
  width: 45%;
  min-width: 500px;
  padding: 20px;
}

.find_movie {
  margin: 150px;
}

img {
  height: 375px;
}

.no_image {
  height: 375px;
}

.tmdb {
  position: fixed;
  bottom: 30px;
  left: 10px;
  height: 50px;
}

.attribution {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 10px;
  width: 100%;
}
